In [27]:
# EXERCISE_1

# Connection to LittleLemonDB
import mysql.connector as connector

dbconfig = {
    "database":"littlelemondb",
    "user" : "emma",
    "password" : "Bensikin*99",
    "host": "127.0.0.1"
}

connection = connector.connect(**dbconfig)

In [31]:
# EXERCISE_2
# show tables

show_tables_query = "SHOW tables;" 
cursor = connection.cursor()
cursor.execute(show_tables_query)
results = cursor.fetchall()
for table in results:
    print(table[0])

bookings
customers
delivery
employees
menuitems
menus
orders

In [30]:
# Query with table join
join_query = """

SELECT CONCAT(CustomerFirstName, ' ', CustomerLastName) AS FullName, Email, Orders.TotalCost
FROM Customers 
JOIN Orders 
ON Customers.CustomerID = Orders.CustomerID
WHERE
Orders.TotalCost > 60;

"""
cursor.execute(join_query)
results = cursor.fetchall()
cols = cursor.column_names

print(cols[0] + '\t'*2 +  cols[1] +'\t'*4 + cols[2])

for re in results:
    print(re[0] + '\t'*2 +  re[1] + '\t'*3 + str(re[2]))

FullName		Email				TotalCost
Anna Iversen		aniver@littlelemon			86
Vany McCarthy		mcvan@littlelemon			70
Anna Iversen		aniver@littlelemon			63